<!DOCTYPE html>
<html lang="en" ng-app="@ViewBag.AngularApp">
<head>
  <title>@ViewBag.Title</title>
  <base href="@Url.Content( "~/" )">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="@Url.MinifiedContent( "~/Client-Release/vendor.css" )" />
  <link rel="stylesheet" type="text/css" href="@Url.MinifiedContent( "~/Client-Release/site.css" )" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .ng-cloak {
      display: none;
    }
  </style>
</head>

<body layout="column" layout-fill ng-controller="@ViewBag.AngularController as ctrl" class="@( !string.IsNullOrWhiteSpace( ViewBag.AngularApp ) ? "ng-cloak" : "" )">
  @RenderBody()

  <script type="text/javascript" src="@Url.MinifiedContent( "~/Client-Release/vendor.js" )"></script>
  @RenderSection( "AdditionalScripts", false )
  <script type="text/javascript" src="@Url.MinifiedContent( "~/Client-Release/bundle.js" )"></script>
</body>
</html>